<!-- partials/navbar.html -->
<section data-bs-version="5.1" class="menu menu2 cid-sFF0ciwnEL" once="menu" id="menu2-0">
    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-caption-wrap"><a class="navbar-caption text-danger display-7" href="#" data-page="home">Ürün Kontrol</a></span>
                <!-- Metin ve butonu dikey hizalamak için flex-column ekledik -->
                <div class="d-flex flex-column align-items-start m-0 p-0">
                    <span id="navbar-welcome-text" class="navbar-welcome-text text-black display-7" hidden></span>
                    <!-- YENİ: Navbar Çıkış Butonu -->
                    <button id="navbar-logout-btn" class="btn btn-link p-0 text-danger" style="font-size: 0.75rem; text-decoration: none; border: none; background: none;" hidden>Çıkış</button>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="#" data-page="login">Çalışan Girişi</a></li>
                    <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="#" data-page="productEntry">Ürün Girişi</a></li>
                    <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="#" data-page="productUpdate">Ürün Güncelleme</a></li>
                    <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="#" data-page="view">Görüntüle</a></li>
                    <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="#" data-page="team">Team</a></li>
                    <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="#" data-page="contacts">Contacts</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>
